

$bunting-50:#eef3ff;
$bunting-100:#e1e9fe;
$bunting-200:#c9d6fc;
$bunting-300:#a7bbfa;
$bunting-400:#8496f5;
$bunting-500:#6772ed;
$bunting-600:#4a4ae1;
$bunting-700:#3d3cc6;
$bunting-800:#06164b;
$bunting-900:#0c112b;
$bunting-950:#03031d;

$color-boton:rgb(14, 33, 87);
$boton-border:rgb(6, 6, 54);
$boton-hover:rgb(17, 38, 97);

$message-color:rgb(252, 218, 218);