@import "./colors.scss";

.form_register{
    width: 90%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    h2{
        color:$bunting-50;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    label{
        color:$bunting-50;
        font-size: 1.2rem;
    }
    .entrada{
        color: $bunting-900;
        outline: none;
        margin: 0.2rem 0 1.2rem;
        font-size: 1.2rem;
        padding: 0.1rem;
        box-sizing:border-box;
        &#rDescription{
            width: 100%;
            resize: none;
            height: fit-content;
        }
    }
    .rboton{
        width: fit-content;
        font-size: 1.2rem;
    }
}